.list-items {
    max-height: 500px;
    overflow-y: scroll;
    padding: 0 5px 0 0;
}

.list-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #69C469;
    padding: 3px 5px;
    margin: 0 0 5px;
}

.list-item:last-child {
    margin-bottom: 0;
}

.list-item__name {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
}

.list-item__flags {
    display: inline-block;
    vertical-align: middle;
}

.list-item__flag {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    background: no-repeat center/contain;
    margin: 0 3px;
}

.list-item__flag._sun {
    background-image: url(pics/sun.svg);
}

.list-item__flag._heart {
    background-image: url(pics/heart.svg);
}

.list-item__flag._flash {
    background-image: url(pics/flash.svg);
}

.list-item__flag._flower {
    background-image: url(pics/flower.svg);
}